.admin-panel-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #1a1a1a;
    color: #fff;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.error {
    color: #f44336;
    margin: 20px;
}

.logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.product-card {
    position: relative;
}

.delete-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}


.delete-confirmation {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.delete-buttons {
    margin-top: 20px;
}

.confirm-delete {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.cancel-delete {
    background-color: gray;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 750px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input {
    margin-bottom: 10px;
}

.form-container label {
    color: white;
    font-size: 16px;
}

.form-container select {
    height: 30px;
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"] {
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="number"] {
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-buttons button {
    margin-left: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 0;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
}

.form-buttons button {
    margin-left: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 0;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
}

.form-buttons button[type="submit"] {
    background-color: blue;
}

.form-buttons button[type="button"] {
    background-color: red;
}



