.category-box {
    position: relative;
    flex: 0 0 calc(100% / 7);
    text-align: center;
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    overflow: hidden;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.category-box:hover {
    transform: scale(1.05);
}

.category-box.selected {
    border-color: yellow;
}

.category-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.category-box:hover .category-background-image {
    opacity: 1;
}

.category-text {
    position: relative;

}
