html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(51,51,51);
    background: linear-gradient(6deg, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 18%, rgba(87,55,87,1) 50%, rgba(51,51,51,1) 82%, rgba(51,51,51,1) 100%);
    color: #ffffff;
}

#root {
    height: 100%;
}

footer {
    background-color: #1a1a1a;
    padding: 2rem;
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.section-title {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

input[type="text"] {
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 25%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

h2 {
    color: white;
}

button {
    background: #ffbd03;
    border: none;
    color: #333333;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #d29500;
}