.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    width: 450px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .register-form .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 12px;
  }
  
  .register-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  
  .register-form .registerTitle {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .register-form .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .register-form button[type="submit"],
  .register-form button.cancel-button {
    background-color: #ffbd03;
    color: black;
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Add padding between the buttons */
    font-size: 16px;
    flex: 1; /* Set equal flex to make buttons the same size */
  }
  
  .register-form button.cancel-button {
    background-color: white;
    color: black;
  }
  
  .register-form button.cancel-button:hover {
    background-color: #f2f2f2;
  }
  
  .register-form h2.registerTitle {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  .register-form .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative; /* Add position relative to the input container */
  }
  
.register-form .input-container .icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}


  