.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

button[type="submit"] {
    background-color: #FF0000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #DC143C;
}

h2 {
    color: black; /* Set the color of the "Register" text to black */
    text-align: center; /* Center the "Register" text */
    margin-bottom: 20px; /* Add some space between the "Register" text and the input fields */
}
