body {
    background-color: #25252A;
    color: #fff;
}
nav {
     background-color: #333;
     color: #fff;
 }

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

form {
    display: flex;
}

input[type="text"] {
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Media Queries */

@media (max-width: 600px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav li {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

/* HERO */
.crf-hero {background-image: url("./Images/hero/hero-original.jpg"); background-repeat: no-repeat; height: 400px; background-size: cover; background-position: center center; text-align: center;}
.crf-hero h1, .crf-hero h2 {font-size: 63px; font-weight: 700; margin: 0; flex: inherit; line-height: 0.9;}
.crf-hero h1 {left: -30px;}
.crf-hero h2 {color: #faa541;}
.crf-hero p.lead {letter-spacing: 2px; font-weight: 700;}

@media only screen and  (min-width: 1200px) {
    .crf-hero .container {max-width: 1170px;}
}
@media only screen and (max-width: 768px) {
    .crf-hero {margin-bottom: 0; padding-bottom: 0; background-position: 70% 0; background-size: 180%;}
    .crf-hero .container {margin-top: auto; background-color: #faa541; padding: 15px;}
    .crf-hero h1 {left: 0;}
    .crf-hero h2 ,  .crf-hero p.lead {color: white;}
    .crf-hero p.lead {margin-top: 5px; margin-bottom: 0;}
}
@media only screen and (max-width: 480px) {
    .crf-hero h1, .crf-hero h2 {font-size: 55px;}
}
